*.swp
.bundle
db/*.sqlite3
log/*.log
tmp/
bin/
bundled
config/database.yml
config/hs.yml
debian/files
debian/hs-cloudcontroller.debhelper.log
debian/hs-cloudcontroller.substvars
debian/hs-cloudcontroller.*.debhelper
debian/hs-cloudcontroller/
debian/hs-config.debhelper.log
debian/hs-config.substvars
debian/hs-config.*.debhelper
debian/hs-config/
